.login_formlogin_inputs_login__inputlogin {
    width: 155px;;
}

.login_formlogin_inputs_password__inputpassword {
    width: 155px;;
}

.signup_formsignup_inputs_login__inputlogin {
    width: 155px;;
}

.signup_formsignup_inputs_password__inputpassword {
    width: 155px;;
}

.signup_formsignup_inputs_email__inputemail {
    width: 155px;;
}


